.idea/*
data/*
tmp/*
.vscode
__pycache__/
models/
*cache*
out/
inference-data/*
output/*
wheat_lodging_segmentation_run/*
.DS_STORE
model.hdf5
video.avi
*.o
*.c*
!reg_csvs/**/*.csv
!*.conf
build
venv
*~
data/